<launch>
<param name="/use_sim_time" value="true"/>
  <node pkg="project_mapping" type="periodic_snapshotter2" output="screen" name="periodic_snapshotter">
    <param name="/use_sim_time" value="true" />
  </node>
  <node pkg="project_mapping" type="laser_scan_assembler" output="screen"  name="laser_scan_assembler">
    <remap from="scan" to="/GETjag/laser_scan_front"/>
    <param name="tf_cache_time_secs" type="double" value="10.0" />
    <param name="max_scans" type="int" value="10000" />
    <param name="ignore_laser_skew" type="bool" value="true" />
    <param name="fixed_frame" type="string" value="GETjag/odom" />
    <rosparam command="load" file="$(find project_mapping)/config/laser_filter_config.yaml" />
  </node>
</launch>
